<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/activetab.js"></script>
    <script src="/javascripts/autoclose.js"></script>
    <script src="/javascripts/delete.js"></script>
</head>

<body>
    <%- messages('message', locals) %>
    <div class="container mx-auto my-4">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills nav-fill" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab"
                            aria-controls="pills-upload" aria-selected="true">Produkt hochladen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-delete-tab" data-toggle="pill" href="#pills-delete" role="tab"
                            aria-controls="pills-delete" aria-selected="false">Produkt löschen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab"
                            aria-controls="pills-user" aria-selected="false">Benutzer verwalten</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary" href="/logout" role=button>Logout</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">
                        <form action="/dashboard/upload" method="POST" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <input type="file" name="pic1" id="pic1">
                            </div>
                            <div class="input-group mb-3">
                                <input type="file" name="pic2" id="pic2">
                            </div>
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" name="text" placeholder="Beschreibung" required>
                            </div>
                            <div class="input-group mb-3 w-25">
                                <input class="form-control" type="number" step="0.01" name="price" placeholder="Preis"
                                    required>
                            </div>
                            <div class="input-group mb-3 w-25">
                                <select class="form-control" name="currency" required>
                                    <option value="EURO">Euro</option>
                                    <option value="DOLLAR">Dollar</option>
                                    <option value="PFUND">Pfund</option>
                                </select>
                            </div>
                            <div class="input-group mb-3 w-25">
                                <select class="form-control" name="category" required>
                                    <option value="Bekleidung">Bekleidung</option>
                                    <option value="Schmuck">Schmuck</option>
                                    <option value="Repliken">Repliken</option>
                                    <option value="Schuhe">Schuhe</option>
                                    <option value="Zubehör">Zubehör</option>
                                    <option value="Zauberstäbe">Zauberstäbe</option>
                                    <option value="Taschen">Taschen</option>
                                </select>
                            </div>
                            <div class="input-group mb-3 w-25">
                                <select class="form-control" name="color" required>
                                    <option value="Schwarz">Schwarz</option>
                                    <option value="Weiß">Weiß</option>
                                    <option value="Blau">Blau</option>
                                    <option value="Grün">Grün</option>
                                    <option value="Orange">Orange</option>
                                    <option value="Rot">Rot</option>
                                    <option value="Gelb">Gelb</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <button class="btn btn-success" type="submit">Hinzufügen</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-delete" role="tabpanel" aria-labelledby="pills-delete-tab">
                            <table class="table table-hover table-responsive-md table-striped">
                                <caption>Produktliste</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Beschreibung</th>
                                        <th scope="col">Preis</th>
                                        <th scope="col">Währung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < rows.length; i++) { %>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="<%= rows[i].ArtID %>" onclick="addRows(<%= rows[i].ArtID %>)">
                                        </td>
                                        <td >
                                            <%= rows[i].ArtID %>
                                        </td>
                                        <td>
                                            <%= rows[i].Bezeichnung %>
                                        </td>
                                        <td>
                                            <%= rows[i].Preis %>
                                        </td>
                                        <td>
                                            <%= rows[i].Waehrung %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <div class="input-group mb-3">
                                <button class="btn btn-danger" id="btn-upload">Löschen</button>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
                        <form action="/dashboard/userchange" method="POST" enctype="multipart/form-data">
                            <h5 class="card-title">Benutzer befördern</h5>
                            <div class="input-group mb-1">
                                <p class="card-text">
                                    Benutzer auswählen
                                </p>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-control w-25" name="userchange" required>
                                    <% for(var i=0; i < user.length; i++) { %>
                                    <option value="<%= user[i].Benutzername %>">
                                        <%= user[i].Benutzername %> - <%= user[i].Status %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="input-group mb-1">
                                <p class="card-text">
                                    Rechte
                                </p>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-control w-25" name="right" required>
                                    <% for(var i=0; i < rights.length; i++) { %>
                                    <option value="<%= rights[i].Status %>">
                                        <%= rights[i].Status %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-warning" type="submit">Aktualisieren</button>
                            </div>
                        </form>
                        <form action="/dashboard/userremove" method="POST" enctype="multipart/form-data">
                            <h5 class="card-title">Benutzer löschen</h5>
                            <div class="input-group mb-1">
                                <p class="card-text">
                                    Benutzer auswählen
                                </p>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-control w-25" name="userremove" required>
                                    <% for(var i=0; i < user.length; i++) { %>
                                    <option value="<%= user[i].Benutzername %>">
                                        <%= user[i].Benutzername %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-danger" type="submit">Löschen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>